@{
    ViewData["Title"] = "How To register a new card";
}
<div class="row">
    <div class="col">
        <div class="card" id="card">
            <div class="header">
                <h4 class="title">How to</h4>
            </div>
            <div class="content">
                <div class="formContent">
                    <h3>To complete your registration</h3>
                    <p>Please open your email to see your pin code</p>
                    <p>1. On the PingisBox press * (The star symbol).</p>
                    <p>2. Enter your 4 digit Pin code.</p>
                    <p>3. Press # and the show your Card that you want to register.</p>
                    <p>All done! now you can borrow Ping Pong rackets easily.</p>
                </div>
            </div>
        </div>
    </div>
</div>

